body {
  background-color: #1E2A38;
  color: #F6F1EB;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 400px;
  padding: 30px 20px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 40px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 600;
  margin: 5px 0;
  text-transform: uppercase;
}

.intro {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color: #D4AF37;
  margin: 10px 0 0;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #888C8F;
  margin-bottom: 30px;
}

.links a {
  display: block;
  background-color: #F6F1EB;
  color: #1E2A38;
  text-decoration: none;
  padding: 14px;
  margin: 10px 0;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.links a:hover {
  background-color: #888C8F;
  color: #D4AF37;
  transform: scale(1.05);
}



/* Colores personalizados */
.linkedin {
  background-color: #0077b5;

}











