body {
  background-color: #D2BC97;
  color: #F6F1EB;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 400px;
  padding: 30px 20px;
}

.profile-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  image-rendering: smooth !important;
}


h1 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 600;
  margin: 5px 0;
  text-transform: uppercase;
}

.intro {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color: #927040;
  margin: 10px 0 0;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #927040;
  margin-bottom: 30px;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;   /* Centra el BLOQUE */
  background-color: #F6F1EB;
  color: #927040;
  text-decoration: none;
  padding: 14px 20px;
  margin: 10px 0;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Contenedor interno implícito */
.links a i {
  width: 24px;               /* Columna fija para iconos */
  text-align: center;
  font-size: 18px;
  margin-right: 12px;
}

/* Texto con ancho fijo */
.links a span {
  width: 100px;              /* Ajusta según el texto más largo */
  text-align: left;
}

.links a:hover {
  background-color: #5B3B3E;
  color: #927040;
  transform: scale(1.05);
}





