body {
  background-color: #080426;
  color: #F6F1EB;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 400px;
  padding: 30px 20px;
}

.profile-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  image-rendering: smooth !important;
}


h1 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 600;
  margin: 5px 0;
  text-transform: uppercase;
}

.intro {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  color: #D4AF37;
  margin: 10px 0 0;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #888C8F;
  margin-bottom: 30px;
}

.links a {
  display: block;
  background-color: #F6F1EB;
  color: #1E2A38;
  text-decoration: none;
  padding: 14px;
  margin: 10px 0;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.links a:hover {
  background-color: #D81159;
  color: #D4AF37;
  transform: scale(1.05);
}



/* Colores personalizados */
.linkedin {
  background-color: #0077b5;

}

.icons {
  display: flex;              /* misma línea */
  gap: 20px;   
  justify-content: center;             /* separación entre iconos */
}

.icons a {
  color: white;                /* color inicial */
  font-size: 40px;            /* tamaño del icono */
  transition: color 0.3s ease, transform 0.3s ease;
}

.icons a:hover {
  color: #e1306c;              /* color al hover (ej: Instagram pink) */
  transform: scale(1.1);       /* pequeño efecto de agrandar */
}


